
html{

    font-family: sans-serif;
}

body {
    margin: 0;
    
}

.nav {
    height: 8vh;
    background: #f96f50;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
}

.nav a { 
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    margin:0px 15px;

    
}

.header {
    background-image: url(img/header.jpeg);
    background-attachment: fixed;
    background-size: cover;
    height: 650px;
   
}

.box {
    width: 430px; 
    height: 280px; 
    background: rgba(255, 255, 255, 0.422); 
    padding: 30px; 
    text-align: left;
    border: 8px solid white;
    position: relative;
    top: 20vh;
    left: 15vw;
}


.box h1, .box p {
    margin: 5px 0 10px 0;
}

.box button{
    width: 150px;
    font-size: 16px;
    
    margin-top: 10px;
}

.flex{
    display: flex;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 10px;
}

/* .box1, .box2, .box3, .box4<<I will combine them! */
.box1{
    background: white;
    border: 3px solid #f96f50;
    text-align: left; 
    position: relative;
   
}

.box1 h1 {
    /* height: 60px; */
    width: 100%;
    background: #f96f50;
    margin: 0;
    
    color: rgb(0, 0, 0);
    text-align: left;
   
}

.box1 p {
    margin-top: 10px;
    font-size: smaller;
}

.box1 button{
    display: block; /* !!inline-block doesnt work!!*/
    margin: 15px auto;
    background-color: white;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px;
}

.main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px;
}

.main p {
    
    font-size: 34px;
}



.footer {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 8px 8px 18px 8px;
}

.fbox {
    text-align: center;
    position: relative;
    background: white;
    color: black;
   margin: 8px 0px 0px 0px;
}

.fbox h1 {
    font-size: 25px;
    background: #f9866d;
    padding: 0px 10px 0px 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
   
}


.fbox p {
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 1.3em;
}
